.main {
    height: 550px;
    background-color: #CBF7EE;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main img {
    height: 185px;
    width: 180px;
    color: #002F34;
    cursor: pointer;
}

.main p {
    font-size: 14px;
}